# python
__pycache__


# editor/OS debris
*~
.DS_Store

staging/
*.sh
*.yaml

cases.csv
cases.yaml

.claude/

# for now commit config_registry
!config_registry.yaml

# keep run_builds.sh to loop over build files
!run_builds.sh