# python
__pycache__


# editor/OS debris
*~
.DS_Store

*.sh
*.yaml

cases.csv
cases.yaml

.claude/

# for now commit config_registry
!config_registry.yaml

# keep run_builds.sh to loop over build files
!run_builds.sh

build_scripts/*
!build_scripts/README

blueprints/*
!blueprints/README

# ignore commonly used stem for depreciated files I am not quite ready to delete
*old*
